doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      p we want to know more
      p user #{cur_uid}
    block content
    script(src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.js")
    script(src="/bootstrap/js/bootstrap.js")
    script(src="/javascripts/main.js")
