extends layout

block content
  h1= title
  p= question.description
  form(method='post',action="/answer/#{question.id}") 
    //- todo everybody can propose an edit of f an answer, but open another answser need high user level
    textarea(name='description',placeholder="回答问题")
    button(type='submit')= "回答问题"
