<div id="ColumnsWrap">
	<div id="LeftQuestion">
		<div>
			<h1><?= $question['title'] ?></h1>
			<div><?= nl2br(htmlspecialchars($question['detail'])) ?></div>
			<div>17个评论</div>
			<div>分享</div>
			<div>邀请回答</div>
		</div>

		<div id="QuestionSec2">
			<div id="SortBtn">按投票排序</div>
			<div id="AnswerCount"><?= count($answers) ?>个回答</div>
		</div>

		<ul id="QuestionGroup">
			<?php foreach ($answers as $a): ?>
				<li class="answer-item">
					<div class="vote-btn" data-url="/vote/<?= $a['id'] ?>">
						<div data-vote="1">Up
							<span><?= count($a['up']) ?></span>
						</div>
						<div data-vote="-1">Down</div>
					</div>
					<span><?= $a['user']['show_name'] ?></span>，<span><?= $a['user']['detail'] ?></span>
					<img src="">
					<div class="upvote-users">
						<?php foreach ($a['up_users'] as $u): ?>
							<a href=""><?= $u['show_name'] ?></a>
						<?php endforeach ?>
						等人赞同
					</div>
					<div><?= nl2br(htmlspecialchars($a['content'])) ?></div>
					<div>
						<span><?php if ($a['edit_time']): ?>
							编辑于 <?= $a['edit_time'] ?>
						<?php else: ?>
							发布于 <?= $a['create_time'] ?>
						<?php endif ?></span>
						<span>111条评论</span>
						<span>感谢</span>
						<span>分享</span>
						<span>收藏</span>
						<span>没有帮助</span>
						<span>举报</span>
					</div>
					<div>
						<ul>
							<?php foreach ($a['comments'] as $c): ?>
								<li>
									<img src="">
									<a href="<?= $c['uid'] ?>"><?= $c['user']['show_name'] ?></a>
									<div><?= $c['content'] ?></div>
									<span><?= $c['create_time'] ?></span>
									<span><?= $c['up_count'] ?> 赞</span>
								</li>
							<?php endforeach ?>
						</ul>
						<form action="/comment_answer/<?= $a['id'] ?>" ajax>
							<textarea name="content" placeholder="写下你的评论"></textarea>
							<button>评论</button>
						</form>
					</div>
				</li>
			<?php endforeach ?>
		</ul>

		<?php if (user_id() && !$answer_by_me): ?>
		<form action="/add_answer/<?= $question['id'] ?>" ajax>
			<div>
				<span><?= $GLOBALS['user']['show_name'] ?></span>，<span><?= $GLOBALS['user']['detail'] ?></span>
				<img src="">
			</div>
			<div>
				<textarea name="content"></textarea>
			</div>
			<div>
				<label>
					<input type="checkbox">
					匿名
				</label>
				<button>发布回答</button>
			</div>
		</form>
		<?php endif ?>
	</div>
	<div id="RightQuestion">
		<a href="">关注问题</a>
		<a href="">使用匿名身份</a>
		<a href="">问题重定向</a>
		<div><?= $question['follow_count'] ?> 关注该问题</div>
		<ul>
		<?php foreach ($question['follow_people'] as $p): ?>
			<li>
				<img src="" title="<?= $p['show_name'] ?>">
			</li>
		<?php endforeach ?>
		</ul>
		<div>相关问题</div>
		<div>分享问题</div>
		<div>问题状态</div>
		
	</div>
</div>
